@import "~rfs/scss";

.button {
  @include font-size(1rem);

  color: inherit;
  padding: 0.8rem 1.2rem;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform 125ms ease-out;
}

.button:hover {
  transform: scale(1.15);
  filter: brightness(110%);
}

.small {
  @include font-size(0.7rem);
  padding: 0.3rem 0.6rem;
}
.small:hover {
  transform: none;
}

.large {
  @include font-size(1.4rem);
}

.default {
  background-color: var(--color-default);
}

.success {
  background-color: var(--color-success);
}

.warning {
  background-color: var(--color-warning);
}

.danger {
  background-color: var(--color-danger);
}
