.button {
  color: inherit;
  padding: 0.8rem;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform 125ms ease-out;
  font-size: 1em;
}

.button:hover {
  transform: scale(1.15);
  filter: brightness(110%);
}

.small {
  font-size: 0.8em;
}

.large {
  font-size: 1.2em;
}

.default {
  background-color: var(--color-default);
}

.success {
  background-color: var(--color-success);
}

.warning {
  background-color: var(--color-warning);
}

.danger {
  background-color: var(--color-danger);
}
