.container {
  min-height: 100vh;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
}

.fullscreen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(transparent, rgb(0, 0, 0, 0.5)),
    linear-gradient(
      rgba(30, 20, 0, 0.5),
      rgba(30, 0, 0, 0.7),
      rgb(0, 0, 0, 0.9)
    );
}

.video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.logo {
  max-width: 230px;
  height: auto;
  filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.2));
}

@media (min-width: 992px) {
  .logo {
    max-width: 450px;
  }
}
