.powered h2 {
  font-size: 1.25rem;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.logo {
  width: min(100%, 300px);
  height: auto;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 1;
}
