$pink: #DD316B;

.divider {
  display: inline-block;
  width: 75px;
  height: 3px;
  background-color: $pink;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: $pink;
}